body {
    background-image: url(../img/back.jpg);
}
#login 
{ 
    max-width: 400px;
    margin: 30px auto;        
}

#logintitulo 
{        
    text-align: center;
    font-family: Verdana;
    font-size: 15pt;
}
.footer 
{
    margin-top: 10px;
    word-spacing: 30px;
}
.right-panel
{
    background-color: #f5f5f5;
    border-radius: 4px;
    height: 335px;
    margin-top: 25px;
    padding: 20px;
    text-align: center;
}
.right-panel img
{
    width: 200px;
    height: 200px;
}
.right-panel a
{
    float: left;
    width: 100%;
    margin-top: 15px;
}
.fileinput {
    position: relative;
    overflow: hidden;
}
.fileinput input {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    cursor: pointer;
}
.btn-upload
{
    display: none;
}

.imagem {
    margin-left: auto;
    margin-right: auto;
    weight: 150px;
    width: 150px;
}

.logo {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: -20px;
}

img.mostrar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a.alinhamento {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Verdana;
    font-size: 16pt;
}
.notification 
{
  display: none;
  position: fixed;
  width: 200px;
  height: 40px;
  top: 40px;
  left: 50%;
  margin-left: -100px;
  z-index: 99999;
  text-align: center;
}
.notification p
{
  margin-top: -6px;
}